#sidebar {
	width: 370px;
}

#mods .ytv-list .ytv-thumb img {
	width: 100px;
	display: block;
}
#mods .ytv-list .ytv-content {
	padding-left: 110px;
}

.rModsList-mod-author {
	font-style: italic;
	color:#008cff;
}

.rModsList-mod-version {
	color:#888888;
}