html {
	height: 100%;
	padding-bottom: 180px;
}

img {
	border: 0px;
}

body {
	background-image: url("img/img_start_bground_sample.jpg");
	color: #F9F9F9;
	font-family: "Arial";
	padding-left: 5px;
	padding-right: 5px;
	height: 100%;
	position:relative;
	min-width: 550px;
	min-height: 300px;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 16px;
}

div {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
}

.banner_heading {
	position: absolute;
	top: 65px;
	left: 92px;
	color: #008888;
	font-family: "Verdana";
	margin: 5px;
	padding: 0;
	font-size: 19px;
	font-weight: bold;
}

.banner_image {
	top: 5px;
	position: absolute;
}

/******************
 * Interface Tabs *
 ******************/
 
.ui_tabs {
    position: absolute;
	top: 88px;
}

.ui_tab_link {
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 6px;
	margin-right: 6px;
	float: left;
}

.ui_tab_link a {
	color: #888888;
}

.ui_tab_link_image {
	padding-top: 4px;
}

.ui_tab_label {
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	float: left;
}

.ui_tab_edges {
	color: #444444;
	float: left;
	font-size: 18px;
}

/*******************************************
 * Installed Mods - Updates required alert *
 *******************************************/

.installed_updates_alert {
	width: 100%;
	height: 38px;
	color: #f9f9f9;
}

.installed_updates_alert_content {
	position: absolute;
	width: 100%;
	padding-left: 9px;
	top: 3px;
	z-index: 1;
}

.installed_updates_alert_message {
	font-size: 14px;
	top: 6px;
	left: 47px;
	position: absolute;
}

.installed_updates_alert_background {
	position: absolute;
	width: 100%;
	height: 38px;
	background-color: #cc8800;
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.installed_updates_link {
	display: inline;
	font-size: 16px;
	padding-left: 4px;
	color: #888888;

}

.installed_updates_link a {
	color: #cc8800;
	font-size: 14px;
}

.installed_updates_link a:hover {
	color: #cc8800;
}








.tab {
	display: none;
}

.tab_content {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #515151;
	overflow-y: scroll;
	overflow-x: hidden;
	left: 0px;
	margin-top: 120px;
	z-index: 1;
}

.tab_background {
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	background-color: #000000;
	
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #515151;
	overflow: auto;
	left: 0px;
	margin-top: 120px;
}

/* NEWS TAB */

#news {
	display: block;
}

/* AVAILABLE MODS TAB */

.mod_download_options {
	position: absolute;
	width: 100%;
	height: 50px;
	border: 1px solid #515151;
	overflow: hidden;
	left: 0px;
	margin-top: 120px;
	
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	z-index: 1;
	font-size: 0.8em;
}

.filter_options, .sort_options {	
	float: left;
	padding-left: 7px;
	min-width: 240px;
}

#mod_download {
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:120px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    overflow: auto;
}
	
#mod_download_inner {
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:59px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
	overflow: auto;
}


.log_level3 {
	display: none;
}

.log_level4 {
	display: none;
}



.mod, .download_mod {
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 502px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 7px;
	cursor: default;
}

.download_mod {
	border-bottom: 0px solid #515151;
	padding-bottom: 14px;
	margin-bottom: 14px;
}

.mod {
	padding-bottom: 7px;
	margin-bottom: 7px;
	z-index: 1;
}

.mod:hover .mod_background , .download_mod:hover .mod_background  {
	position: absolute;
	left: 1px;
	top: 5px;
	width: 495px;
	height: 100%;
	opacity: 0.25;
	filter:alpha(opacity=25); /* For IE8 and earlier */
	background-color: #00ffff;
	border: 1px solid #515151;
	margin: -5px;
	z-index: -1;
}

.download_mod:hover .mod_background {
	width: 502px;
	padding-left: 5px;
	padding-top: 3px;
}

.mod:hover .mod_background {
	margin-left: 25px;
}

.mod_container_online {
	padding-left: 110px;
}
.mod_container_install {
	padding-left: 30px;
}

.mod_name {
	display: inline;
	color: #008888;
	font-family: "Verdana";
	font-size: 1.0em;
}

.mod:hover .mod_name, .download_mod:hover .mod_name {
	color: #cc8800;
}

.mod_build_old {
	color: #cc8800;
}

.mod_build_current{
	color: #008888;
}

.mod_author {
	margin-left: 5px;
	display: inline;
	font-style: italic;
	font-size: 0.7em;
}

.mod_category  {
	font-size: 0.7em;
	color: #888888;
	text-transform:uppercase;
}

.mod_requires {
	font-size: 0.7em;
	color: #888888;
}

.mod_requirement {
	color: #008888;
}

.mod_requirement_missing {
	color: #cc8800;
}

.mod_version {
	display: inline;
	font-size: 0.7em;
	font-style: italic;
	color: #888888;
	padding-right: 3px;
}

.mod_new {
	font-size: 0.7em;
	font-style: italic;
	color: #cc8800;
}

.mod_count {
	display: inline;
	font-size: 0.7em;
	font-style: italic;
	color: #888888;
	padding-left: 16px;
}

.mod_likes {
	display: inline;
	font-size: 0.7em;
	font-style: italic;
	color: #888888;
	padding-left: 22px;
}

.mod_link,  {
	margin-right: 10px;
	display: inline;
	font-size: 0.8em;
	color: #888888;
}

.mod_link a:hover {
	color: #cc8800;
}

.mod_filtered {
	display: none;
}

.mod_enable {
	float: left;
	margin-right: 5px;
	margin-top: 3px;
	width: 20px;
	height: 30px;
}

.mod_description, .log_entry, .log_entry_debug {
	margin-top: 4px;
	margin-bottom: 2px;
	font-size: 0.8em;
	color: #F9F9F9;
}

.mod_updated {
	display: inline;
	font-size: 0.8em;
	color: #cc8800;
}

.mod_update_available {
	display: inline;
	font-size: 0.8em;
	color: #cc8800;
	margin-left: 10px;
}

.mod_icon {
	float: left;
	padding-right: 10px;
}

.credits {
	float: left;
	font-style: italic;
	font-size: 0.8em;
	padding-top: 10px;
}

.buttons {
	position: absolute;
	bottom: -160px;
	left: 0px;
}

.buttons input {
	float: left;
	width: 90px;
	margin-right: 6px;
	margin-top: 3px;
}

.openModsFolderButton {
	float: right;
	width: 90px;
	margin-top: 3px;
}

#download p {
	color: #888888;
	font-size: 0.8em;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 5px;
}

.mod_download_heading {
	padding-top: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
}

a {
	color: #008888;
	text-decoration: none;
}

a:visited {
	color: #008888;
}


.mod_description a {
	color: #F9F9F9;
}

.mod_description a:visited {
	color: #F9F9F9;
}

a:hover {
	text-decoration: underline;
}

.mod:hover a:hover {
	color: #cc8800;
}

.mod_link_reinstall a, .mod_link_uninstall a {
	color: #888888 !important;
}

.mod_link_reinstall a:visited, .mod_link_uninstall a:visited {
	color: #888888 !important;
}

.mod_link_reinstall a:hover, .mod_link_uninstall a:hover {
	color: #cc8800 !important;
}

.loading {
	position: absolute;
	padding-top: 12px;
	padding-left: 12px;
	color: #cc8800;
	font-weight: bold;
}

#downloading {
	position: absolute;
	bottom: -172px;
	right: -8px;
	display: none;
}

.news_container {
	padding: 4px;
}

.news_item {
	border-bottom: 1px solid #515151;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 14px;
	margin-bottom: 14px;
}

.news_title {
	color: #008888;
	font-family: "Verdana";
	font-size: 1.0em;
}

.news_date {
	font-size: 0.7em;
	color: #888888;
	font-style: italic;
	padding-bottom: 3px;
}

.news_body {
	font-size: 0.8em;
	color: #F9F9F9;
}

.brackets {
	color: #888888;
}
			
.log_url {
	color: #008888;
}

.log_time {
	float: left;
	color: #888888;
	width: 55px;
}

.log_type {
	float: left;
	color: #008888;
	width: 60px;
}

.log_entry_debug .log_type {
	float: left;
	color: #cc8800;
	width: 60px;
}

.log_entry {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
}

.log_entry_debug {
	color: #888888;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
}

.settings_items {
	padding: 7px;
}
.tab_heading {
	color: #008888;
	font-family: "Verdana";
	font-size: 18px;
	padding: 7px;
}

.tab_subheading {
	color: #008888;
	font-family: "Verdana";
	font-size: 14px;
	padding: 7px;
}

.textInput {
	width: 500px;
}

.setting_heading {
	font-size: 0.8em;
}

#about_data {
	padding-left: 7px;
}
#about_data .tab_heading {
	padding-left: 0px;
}
#about_data .tab_subheading {
	padding-left: 0px;
}

.tab_about_text {
	font-size: 14px;
	color: #888888;
}

.tab_about_value {
	color: #f9f9f9;
}


.tab_about_user a {
	color: #cc8800;
}